<div class="flex flex-col mt-8 w-full md:h-5/6 text-gray-800">
  <! -->
  <div
    class="flex flex-col-reverse md:flex-row justify-evenly h-4/6 space-x-4 bg-slate-300 md:p-8"
  >
    <!-- text -->
    <div
      class="flex flex-col h-1/2 justify-center p-8 md:w-1/2 md:h-full md:justify-start"
    >
      <h1 class="font-bold text-2xl md:text-5xl">Know Your Nation</h1>
      <p class="font-semibold text-xl md:text-2xl mt-2">
        Understand the Bills the Country Passes
      </p>
      <button
        class="px-8 py-4 w-10/12 flex justify-between bg-green-500 mt-6 text-white text-center text-md font-semibold rounded shadow-lg shadow-gray-400 transition ease-in-out delay-50 hover:bg-green-800 md:px-10 md:py-4"
      >
        Be Educated
        <p>></p>
      </button>
    </div>
    <!-- image -->
    <div
      class="flex w-12/12 mx-auto h-1/2 justify-center items-center p-4 md:w-1/2 md:h-full"
    >
      <img
        src="../../assets/landing-image.jpg"
        class="object-fill rounded-lg shadow shadow-gray-600"
        alt=""
        srcset=""
      />
    </div>
  </div>

  <!-- CARDS    !!_____________________ -->
  <div class="w-full md:h-1/3 flex flex-col sm:gap-4 md:gap-0 justify-center items-center space-x-4 md:flex-row md:justify-evenly md:items-center">
    <!-- card -->

    <div class="bg-gray-800 w-3/6 h-3/5 mt-4 rounded-md shadow shadow-gray-900 md:w-1/5 md:h-4/6 ">
      <p class="flex justify-center">
        <i
          class="bx bx-book-reader p-2"
          style="color: #bdaeae; font-size: 36px"
        ></i>
      </p>
      <div class="w-full flex flex-col justify-center items-center">
        <p class="text-gray-300 font-semibold text-xl">
          <!-- number -->
          3
        </p>
        <p class="text-gray-300 font-normal italic text-lg">
          <!-- text -->
          Biils summarized
        </p>
      </div>
    </div>
    <div class="bg-gray-800 w-3/6 h-3/5  mt-4  rounded-md shadow shadow-gray-900 md:w-1/5 md:h-4/6 ">

      <p class="flex justify-center">
        <i class="bx bx-poll p-2" style="color: #bdaeae; font-size: 36px"></i>
      </p>
      <div class="w-full flex flex-col justify-center items-center">
        <p class="text-gray-300 font-semibold text-xl">
          <!-- number -->
          100
        </p>
        <p class="text-gray-300 font-normal italic text-lg">
          <!-- text -->
          Polls created
        </p>
      </div>
    </div>

    <div  class="bg-gray-800 w-3/6 h-3/5  mt-4  rounded-md shadow shadow-gray-900 md:w-1/5 md:h-4/6 ">
      <p class="flex justify-center">
        <i class="bx bx-news p-2" style="color: #bdaeae; font-size: 36px"></i>
      </p>
      <div class="w-full flex flex-col justify-center items-center">
        <p class="text-gray-300 font-semibold text-xl">
          <!-- number -->
          1000
        </p>
        <p class="text-gray-300 font-normal italic text-lg">
          <!-- text -->
          Views created
        </p>
      </div>
    </div>

    <div class="bg-gray-800 w-3/6 h-3/5  mt-4  rounded-md shadow shadow-gray-900 md:w-1/5 md:h-4/6 ">
      <p class="flex justify-center">
        <i
          class="bx bx-alarm-exclamation p-2"
          style="color: #bdaeae; font-size: 36px"
        ></i>
      </p>
      <div class="w-full flex flex-col justify-center items-center">
        <p class="text-gray-300 font-semibold text-xl">
          <!-- number -->
          10
        </p>
        <p class="text-gray-300 font-normal italic text-lg">
          <!-- text -->
          Incidents Reported
        </p>
      </div>
    </div>
  </div>
</div>
