<div class="w-full h-5/6 rounded text-gray-800 text-sm shadow-lg shadow-gray-300 bg bg-gray-300 overflow-y-scroll ">
    <div  class="flex justify-between">
        <h1 class="text-xl font-semibold w-full text-start px-10 py-4">All Incidents</h1>
        <button 
        *ngIf = "userRole == 'Citizen'"
        [routerLink]="['/incidents', 'add']"
        routerLinkActive=""
        [routerLinkActiveOptions]="{exact:true}"
        class="bg-white w-1/6 rounded shadow text-red-700 font-normal text-xs m-2 hover:border-2 border-solid border-red-700 hover:font-semibold">Report Incident</button>
    </div>
    

   

<div class="flex flex-col md:flex-row  ">
    <div *ngIf="incidents$ | async as incidents">

    <div *ngIf="incidents">
    <div class="grid w-5/6 mx-auto grid-cols-1 gap-1  ">
       <!-- //card -->
        <div *ngFor="let incident of incidents">  
       <div class=" flex w-11/12 h-44 mx-auto bg-white rounded-sm shadow p-2">
       <div class="w-1/2">
        
        <p class="font-semibold  text-gray-700 text-base py-2">{{incident.Incident}}</p>
        <p class="text-sm">{{incident.Location}}</p>
        <div class="italic text-xs font-sans py-2 text-gray-500">
            <p>By Sam Sam</p>
            <p>Reported On: 23/12/23 </p>
        </div>
        <button class="border-gray-700 border-2 w-full py-2 text-sm font-semibold rounded shadow shadow-gray-100
        transition ease-in-out delay-75
        hover:bg-gray-700 hover:text-white
        "
        [routerLink]="['/incidents', 'incident', incident.Id]"
        routerLinkActive=""
        [routerLinkActiveOptions]="{exact:true}"
        >Read More</button>
       </div>
       <div class="w-1/2  m-2 bg-white">
        <img class="w-full h-full items-center m-auto object-fill rounded shadow-lg"  src="https://images.unsplash.com/photo-1605806616949-1e87b487fc2f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" srcset="">
       </div>
       </div>
       
    </div>
<!-- 
       <div class=" flex w-11/12 h-44 mx-auto bg-white rounded-sm shadow p-2">
        <div class="w-1/2">
         
         <p class="font-semibold  text-gray-700 text-base py-2">The Theft</p>
         <p class="text-sm">Nyeri town</p>
         <div class="italic text-xs font-sans py-2 text-gray-500">
             <p>By Sam Sam</p>
             <p>Reported On: 23/12/23 </p>
         </div>
         <button class="border-gray-700 border-2 w-full py-2 text-sm font-semibold rounded shadow shadow-gray-100
         transition ease-in-out delay-75
         hover:bg-gray-700 hover:text-white"
         [routerLink]="['/incidents', 'incident', 'happy']"
                   routerLinkActive="['active']"
        [routerLinkActiveOptions] = "{exact:true}"
         >Read More</button>
        </div>
        <div class="w-1/2  m-2 bg-white">
         <img class="w-full h-full items-center m-auto object-fill rounded shadow-lg"  src="https://images.unsplash.com/photo-1605806616949-1e87b487fc2f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" srcset="">
        </div>
        </div> -->

        



    </div>  
</div>
    <!-- Admin sumerize -->
     <div
     *ngIf="userRole === 'Gov'"
     class="w-1/2 flex flex-col gap-2">
    <button class="bg-green-500 w-11/12 text-white font-medium py-2  mx-auto rounded shadow">Summarize</button>
    <div class="bg-gray-700  w-11/12 h-96 overflow-auto text-white p-2 items-end mx-auto shadow-lg rounded">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere nostrum id iure! Magni veritatis quos quis eius!
             In dolor voluptatem tenetur fugit corporis dolorem, veniam dolorum provident optio perspiciatis repellat.</p>
    </div>
     </div>


    </div>

</div>