<div class="w-full h-5/6 shadow-sm bg-gray-300 rounded overflow-y-scroll ">
    <table class="table-auto w-11/12  mt-1h-auto text-center mx-auto rounded shadow-md ">
        <thead class=" bg-gray-500 text-sm text-white font-medium">
            <tr class="">
                <td class="p-2">username</td>
                <td class="p-2">Role</td>
                <td class="p-2">Role Status</td>
                <td class="p-2">Role Action</td>
                <td class="p-2">User Action</td>
            </tr>
        </thead>
        <tbody class="bg-gray-100 text-xs ">
            <tr class="border-y-2 border-gray-300 shadow-sm">
                <td class="p-2">notTheThief</td>
                <td class="p-2">citizen</td>
                <td class="p-2">Default</td>
                <td class="p-2"><button class="bg-green-700 text-white px-4 py-2 rounded shadow disabled:bg-gray-400" [disabled]=" true"
                    >Approve</button></td>
                <td class="p-2"><button class="bg-red-700 text-white px-4 py-2 rounded shadow">Delete User</button></td>
            </tr>
    
        </tbody>
    </table>
</div>
