<div class="w-full md:h-5/6 text-xs text-gray-600  bg-gray-200 shadow  ">
    <div *ngIf="view;else NoViews ">
        
        <div class="w-5/6 mx-auto h-full flex flex-col gap-2  ">
            <h3 class="text-xl py-4 font-bold ">{{view.Title}}</h3>

            <p class=" font-normal text-justify leading-5 text-sm">{{view.Body}}</p>
            <div>
                <button
            class="bg-gray-700 px-6 py-2 text-white rounded-sm  m-2 font-bold  shadow cursor-pointer"
            (click)="home()">Home</button>
            </div>
            
        </div>
       
    </div>

    <ng-template #NoViews>
        <p>No Views Yet</p>
    </ng-template>
</div>