
<div class="flex flex-col justify-start items-center mt-8 w-full min-w-96 md:h-5/6 text-gray-800 bg-gray-300">
    <div class="w-1/2 bg-gray-50 m-8 rounded-md px-8 py-2 shadow-lg shadow-gray-400">
    <h3
    class="font-bold text-xl py-4 text-gray-500"
    >Forgot Password</h3>
<form 
(ngSubmit)="onSubmit()"
[formGroup]="form"

class=" w-full flex flex-col gap-4 justify-start items-start">
    <div class="flex flex-col gap-1 w-full   text-sm">

        <p for="" class="font-medium text-sm text-gray-700">Add your Email for a confirmation Mesage to be sent.</p>
        

    </div>
    <div class="flex flex-col gap-1 w-full p2  text-sm">
        <span *ngIf="form.get('Email')?.touched && !form.get('Email')?.valid"
        class="text-xs bg-red-100 p-2 rounded border-red-400 border-solid text-rose-700  ">Email is Required</span>
       

        <label for="" class="font-medium text-sm text-gray-500">Email</label>
        <input type="text" class="border-2 border-gray-300 rounded p-1" formControlName="Email">

    </div>
    <button
    [disabled]="form.invalid"
    class="bg-gray-800 text-white w-full py-2.5 rounded shadow-lg font-semibold text-sm mb-4 transition ease-out delay-100 hover:bg-green-500
    disabled:bg-gray-400 disabled:cursor-not-allowed"
    >Send Email</button>
  
</form>
</div>

</div>
