<div class="w-full  text-xs text-gray-600  bg-gray-200 shadow  ">
    <div class="w-5/6 mx-auto h-full flex flex-col gap-2  ">
    <h3 class="text-xl py-4 font-bold ">{{incident.Incident}}</h3>

        <p class=" font-normal text-justify leading-5 text-sm">{{incident.Description}}</p>
   
            <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
                
                <img class="h-44 w-10/12 mx-auto md:w-72 shadow rounded-sm" src="../../assets/landing-image.jpg" alt="" srcset="">
            </div>
            <div class="flex gap-4 flex-col md:flex-row justify-between mt-4">
                <div class="flex flex-col md:flex-row text-gray-500 gap-3 ">
                    <p>View by: <br> {{incident.Id}}</p>
                    <p>Location On:<br>{{incident.Location}}</p>
                </div>
    
              
            </div>
            <div>
                <button class="bg-gray-700 py-2 px-4 text-white rounded shadow m-2" (click)="home()" >Home</button>
            </div>
            
           
    </div>
  </div>